a.qbutton.white.large 
{
  background: #ffffff;
  color: #0cb3bd;
  border-color: #ffffff;
}

a.qbutton.white.large:hover
{
  background: #0cb3bd;
  color: #ffffff;
}

/*
sales*/
    /* extra-small */


.unete-sales p {
    font-size: 22px;
    color: black;
}


@media screen and (max-width:767px) {
    .row-sales-small  {
    display:none;
    }
    .row-sales-medium {
    display: none;
    }
     .row-sales-large {
    display: none;
    }
    .image_with_text img{
      margin: auto;
    }
}
    /* small */
@media screen and (min-width:768px) and (max-width:991px) {
    .row-sales-extra-small {
      display:none;
    }
    .row-sales-medium  {
        display:none;
      }
    .row-sales-large {
        display:none;
    }
  }
    /* medium */
@media screen and (min-width:992px) and (max-width:1399px) {
    .row-sales-extra-small  {
      display:none;
    }
    .row-sales-small {
        display:none;
    }
    .row-sales-large {
        display:none;
    }
  }
    /* large */
@media screen and (min-width:1400px) {
    .row-sales-extra-small  {
      display:none;
    }
     .row-sales-small {
        display:none;
    }
    .row-sales-medium {
        display:none;
    }
  }

/* maximize background images */

#small-hola {
    background-size: 100%;
}

#medium-hola  {
    background-size: 100%;
}

#large-hola {
    background-size: 100%;
}

#small-mi-promesa {
    background-size: 100%;
}

#medium-mi-promesa {
    background-size: 100%;
}

#large-mi-promesa {
    background-size: 100%;
}

div#small-donde-aprenderas
{
    background-size: 100%;
}

div#medium-donde-aprenderas
{
    background-size: 100%;
    background-position: inherit;
}

div#large-donde-aprenderas
{
    background-size: 100%;
    background-position: inherit;
}

/*
home inicio & sobre mi
*/

@media only screen and (max-width: 1399px) {
  div#hola_bigDesktops {
    display: none;
  }
  div#soyElena_bigDesktops_sobreMi {
    display: none;
  }
  div#miTiempo_bigDesktops_sobreMi {
    display: none;
  }
  div#nadieNace_bigDesktops_sobreMi {
    display: none;
  }
}

div#hola_bigDesktops {
    background-size: 100%;
  }
div#soyElena_bigDesktops_sobreMi {
    background-size: 100%;
  }
div#miTiempo_bigDesktops_sobreMi {
    background-size: 100%;
  }
div#nadieNace_bigDesktops_sobreMi {
    background-size: 100%;
  }


@media only screen and (min-width: 1400px) {
  div#hola_mobile_smallDesktops {
    display: none;
  }
 div#soyElena_mobile_smallDesktops_sobreMi {
    display: none;
  }
 div#miTiempo_mobile_smallDesktops_sobreMi {
    display: none;
  }
 div#nadieNace_mobile_smallDesktops_sobreMi {
    display: none;
  }
}

  div#hola_mobile_smallDesktops {
    background-size: 100%;
  }
 div#soyElena_mobile_smallDesktops_sobreMi {
    background-size: 100%;
  }
 div#miTiempo_mobile_smallDesktops_sobreMi {
    background-size: 100%;
  }
 div#nadieNace_mobile_smallDesktops_sobreMi {
    background-size: 100%;
  }

/*encuentra tu trabajo premium*/
.image_with_text img {
      margin: auto;
}